*{
    font-family: "Lucida Grande";
    box-sizing: border-box;
   }
   
a{
    text-decoration: none;
    padding: 3px;
}

.container{
    display: flex;
}

/* Soal */
.container1{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    width: 50%;
    height: 400px;
}

.soal li{
    list-style-type: none;
}

p{
    font-weight: bold;
}

/* TTS */
.container2{
    float: right;
    width: 50%;
    height: 400px;
    margin-top: 20px;
}

.tts{
    display: inline-block;
    /* border: 1px solid; */
}

.tabel{
    display: flex;
}

.board{
    border: 1px solid black;
    background-color: greenyellow;
    width: 40px;
    height: 30px;
    /* display: table-cell; */
    margin: 0.5px;
}

.grid{
    border: 1px solid black;
    width: 40px;
    height: 30px;
    /* display: table-cell; */
    margin: 0.5px;
}

.no-soal{
    margin: 0;
    padding: 0;
    font-size: 10px;
    float: left;
}

.jawaban{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Jawaban */
.container3{
    display: inline-block;
    border-top: 1px solid grey;
    width: 100%;
}

.form-jawab{
    width: 1170px;
    text-align: center;
    margin: 0 auto;
}

